body {
  margin: 0;
  background-color: black;
}

#errors {
  width: 100vw;
  height: 100vh;
  color: white;
  z-index: 2;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-shadow: 1px 1px 2px black;
  white-space: pre-line;
}

#showEmote {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  z-index: 1;
  overflow: hidden;
}

#showEmote img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* or 'cover' or 'fill' depending on desired behavior */
  z-index: 1;
}