body {
  margin: 0;
}

#errors {
  width: 100vw;
  height: 100vh;
  text-align: center; /* Horizontally centers the inner div's content */
  /* This combination centers the inner div itself */
  display: table-cell;
  vertical-align: middle;
}

#showEmote {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  z-index: 9999;
}

#showEmote img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* or 'cover' or 'fill' depending on desired behavior */
}